<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kai.check.mapper.ClassDesignMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kai.check.pojo.ClassDesign">
        <id column="id" property="id"/>
        <result column="class_id" property="classId"/>
        <result column="design_id" property="designId"/>
        <result column="tea_id" property="teaId"/>
        <result column="end_time" property="endTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="listClassDesignsResultMap" type="com.kai.check.pojo.ClassDesign" extends="BaseResultMap">
        <association property="teaDesign" javaType="com.kai.check.pojo.TeaDesign">
            <id column="tid" property="id"/>
            <result column="design_title" property="designTitle"/>
            <result column="design_url" property="designUrl"/>
        </association>
    </resultMap>
    <resultMap id="listClassToDesignResultMap" type="com.kai.check.pojo.ClassDesign" extends="BaseResultMap">
        <result column="class_name" property="className"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , class_id, design_id, tea_id, end_time, create_time, update_time
    </sql>
    <select id="listClassDesigns" resultMap="listClassDesignsResultMap">
        SELECT td.`id` AS tid,
               td.`design_title`,
               td.`design_url`,
               cd.`end_time`
        FROM t_student s,
             t_class_design cd,
             t_tea_design td
        WHERE s.`stu_id` = #{stuId}
          AND cd.`class_id` = s.`stu_class_id`
          AND cd.`design_id` = td.`id`
    </select>
    <select id="listClassToDesign" resultMap="listClassToDesignResultMap">
        SELECT DISTINCT cd.`class_id`,
                        ct.`class_name`
        FROM t_class_design cd,
             t_class_tea ct
        WHERE cd.`tea_id` = #{teaId}
          AND cd.`class_id` = ct.`id`
    </select>

</mapper>
