<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kai.check.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kai.check.pojo.Student">
        <id column="stu_id" property="stuId"/>
        <result column="stu_name" property="stuName"/>
        <result column="stu_phone" property="stuPhone"/>
        <result column="stu_qq" property="stuQq"/>
        <result column="stu_mail" property="stuMail"/>
        <result column="stu_class_id" property="stuClassId"/>
        <result column="is_group" property="isGroup"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <resultMap id="listStudentsResultMap" type="com.kai.check.pojo.Student" extends="BaseResultMap">
        <association property="classTea" javaType="com.kai.check.pojo.ClassTea">
            <id column="id" property="id"/>
            <result column="class_name" property="className"/>
            <result column="tea_id" property="teaId"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        stu_id
        , stu_name, stu_phone, stu_qq, stu_mail, stu_class_id, is_group,create_time, update_time
    </sql>
    <update id="setIsGroup">
        UPDATE
            t_student
        SET is_group=1
        WHERE stu_id = #{id}
    </update>
    <select id="listStudents" resultType="com.kai.check.pojo.Student">
        SELECT DISTINCT stu.`stu_id`,
                        stu.`stu_name`,
                        stu.`stu_phone`,
                        stu.`stu_qq`,
                        stu.`stu_mail`
        FROM t_student stu
        WHERE stu.`stu_class_id` = #{classId}
        ORDER BY stu.`stu_id`
    </select>
    <select id="listClassStudents" resultType="java.lang.String">
        SELECT s2.`stu_id`
        FROM t_student s1,
             t_student s2
        WHERE s1.`stu_id` = #{stuId}
          AND s2.`stu_id`!=s1.`stu_id`
        AND
        s2.`stu_class_id`=s1.`stu_class_id`
        AND
        s2.`is_group`=0
    </select>
    <select id="getClassIdByStuId" resultType="java.lang.Integer">
        SELECT stu_class_id
        FROM t_student
        WHERE stu_id = #{id}
    </select>

</mapper>
