<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kai.check.mapper.TeaWorkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kai.check.pojo.TeaWork">
        <id column="work_id" property="workId" />
        <result column="tea_id" property="teaId" />
        <result column="work_title" property="workTitle" />
        <result column="work_describe" property="workDescribe" />
        <result column="work_dir" property="workDir" />

        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        work_id, tea_id, work_title, work_describe, work_dir, end_time, create_time, update_time
    </sql>

</mapper>
