<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kai.check.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kai.check.pojo.User">
        <id column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="user_role_id" property="userRoleId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <resultMap id="listUsersByPageMap" type="com.kai.check.pojo.User" extends="BaseResultMap">
        <result column="userRole" property="userRole"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id
        ,username
        , password, user_role_id, create_time, update_time
    </sql>
    <select id="getStudentByPage" resultType="com.kai.check.pojo.User">
        SELECT
        username,
        user_role_id
        FROM
        t_user
        WHERE
        user_role_id=3
        <if test="null!=id and ''!=id">
            AND username LIKE CONCAT('%',#{id},'%')
        </if>
        ORDER BY username
    </select>
    <select id="getTeacherByPage" resultType="com.kai.check.pojo.User">
        SELECT
        username,
        user_role_id
        FROM
        t_user
        WHERE
        user_role_id=2
        <if test="null!=id and ''!=id">
            AND username LIKE CONCAT('%',#{id},'%')
        </if>
        ORDER BY username
    </select>
    <select id="listUsersByPage" resultMap="listUsersByPageMap">
        select
        u.`username`,
        u.`user_role_id`,
        u.`create_time`,
        u.`update_time`,
        ru.`role_name` as userRole
        from
        t_user u,
        t_role_url ru
        where
        user_role_id!=1
        and
        u.`user_role_id`=ru.`id`
        <if test="null!=id and ''!=id">
            AND username LIKE CONCAT('%',#{id},'%')
        </if>
        order by u.`user_role_id`,u.`username`
    </select>

</mapper>
