<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kai.check.mapper.WorkResultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kai.check.pojo.WorkResult">
        <id column="id" property="id"/>
        <result column="work_id" property="workId"/>
        <result column="work_first_id" property="workFirstId"/>
        <result column="work_second_id" property="workSecondId"/>
        <result column="work_result" property="workResult"/>
    </resultMap>
    <resultMap id="listCheckResultResultMap" type="com.kai.check.pojo.WorkResult" extends="BaseResultMap">
        <association property="workClass" javaType="com.kai.check.pojo.WorkClass">
            <result column="work_describe" property="workDescribe"/>
        </association>
        <association property="stuWorkFirst" javaType="com.kai.check.pojo.StuWork">
            <result column="work_name_first" property="workName"/>
        </association>
        <association property="stuWorkSecond" javaType="com.kai.check.pojo.StuWork">
            <result column="work_name_second" property="workName"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,work_id,work_first_id, work_second_id, work_result
    </sql>
    <delete id="deleteByWorkId">
        delete from
        t_work_result
        where
        work_id=#{workId}
    </delete>
    <select id="listCheckResult" resultMap="listCheckResultResultMap">
        SELECT
            DISTINCT
            wc.`work_describe`,
            sw1.`work_name` AS work_name_first,
            sw2.`work_name` AS work_name_second,
            wr.`work_result`
        FROM
            t_work_result wr,
            t_work_class wc,
            t_stu_work sw1,
            t_stu_work sw2
        WHERE
            wr.`work_id`=#{id}
          AND
            wc.`id`=wr.`work_id`
          AND
            wr.`work_first_id`=sw1.`id`
          AND
            wr.`work_second_id`=sw2.`id`
        ORDER BY wr.`work_result` DESC

    </select>

</mapper>
